@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic");
body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16.5px;
    background-color: #292A30;

}

#calendar {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    border-width: 10px;
    border-style: groove;
    border-color: #555A73;
    padding: 10px;
}
.mybutton {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 5px;
    border: 0;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    height: 3.75em;
    letter-spacing: 0.1em;
    line-height: 3.75em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    margin-top: 30px;
}

input, select, textarea{
    color: #ffffff;
}
/* Form */

    form {
        margin: 0 0 2em 0;
    }

        form .field {
            margin: 0 0 2em 0;
        }

            form .field label {
                margin-top: -1.5em;
            }

            form .field:first-child label {
                margin-top: 0;
            }

        form > :last-child {
            margin-bottom: 0;
        }

    label {
        color: #ffffff;
        display: block;
        font-family: Raleway, Helvetica, sans-serif;
        font-size: 0.8em;
        font-weight: 700;
        letter-spacing: 0.1em;
        margin: 0 0 0.7em 0;
        text-transform: uppercase;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    select,
    textarea {
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        background: rgba(255, 255, 255, 0.025);
        border-radius: 5px;
        border: none;
        border: solid 2px rgba(255, 255, 255, 0.125);
        display: block;
        outline: 0;
        padding: 0 1em;
        text-decoration: none;
        width: 100%;
    }

        input[type="text"]:invalid,
        input[type="password"]:invalid,
        input[type="email"]:invalid,
        input[type="tel"]:invalid,
        select:invalid,
        textarea:invalid {
            box-shadow: none;
        }

        input[type="text"]:focus,
        input[type="password"]:focus,
        input[type="email"]:focus,
        input[type="tel"]:focus,
        select:focus,
        textarea:focus {
            border-color: #5b6ba6;
        }

    .select-wrapper {
        text-decoration: none;
        display: block;
        position: relative;
    }

        .select-wrapper:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-transform: none !important;
        }

        .select-wrapper:before {
            color: rgba(255, 255, 255, 0.125);
            content: '\f078';
            display: block;
            height: 2.75em;
            line-height: 2.75em;
            pointer-events: none;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            width: 2.75em;
        }

        .select-wrapper select::-ms-expand {
            display: none;
        }

    select option {
        color: #ffffff;
        background: #2e3141;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    select {
        height: 2.75em;
    }

    textarea {
        padding: 0.75em 1em;
    }

    input[type="checkbox"],
    input[type="radio"] {
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        display: block;
        float: left;
        margin-right: -2em;
        opacity: 0;
        width: 1em;
        z-index: -1;
    }

        input[type="checkbox"] + label,
        input[type="radio"] + label {
            text-decoration: none;
            color: #ffffff;
            cursor: pointer;
            display: inline-block;
            font-size: 1em;
            font-family: "Source Sans Pro", Helvetica, sans-serif;
            text-transform: none;
            letter-spacing: 0;
            font-weight: 300;
            padding-left: 2.4em;
            padding-right: 0.75em;
            position: relative;
        }

            input[type="checkbox"] + label:before,
            input[type="radio"] + label:before {
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-transform: none !important;
            }

            input[type="checkbox"] + label:before,
            input[type="radio"] + label:before {
                background: rgba(255, 255, 255, 0.025);
                border-radius: 5px;
                border: solid 2px rgba(255, 255, 255, 0.125);
                content: '';
                display: inline-block;
                height: 1.65em;
                left: 0;
                line-height: 1.58125em;
                position: absolute;
                text-align: center;
                top: 0;
                width: 1.65em;
            }

        input[type="checkbox"]:checked + label:before,
        input[type="radio"]:checked + label:before {
            background: #ffffff;
            border-color: #ffffff;
            content: '\f00c';
            color: #2e3141;
        }

        input[type="checkbox"]:focus + label:before,
        input[type="radio"]:focus + label:before {
            border-color: #4c5c96;
        }

    input[type="checkbox"] + label:before {
        border-radius: 5px;
    }

    input[type="radio"] + label:before {
        border-radius: 100%;
    }

    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.35) !important;
        opacity: 1.0;
    }

    :-moz-placeholder {
        color: rgba(255, 255, 255, 0.35) !important;
        opacity: 1.0;
    }

    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.35) !important;
        opacity: 1.0;
    }

    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.35) !important;
        opacity: 1.0;
    }

    .polyfill-placeholder {
        color: rgba(255, 255, 255, 0.35) !important;
        opacity: 1.0;
    }



    .mytable {
        margin: 0 0 2em 0;
        width: 100%;
    }

        .mytable tbody tr {
            border: solid 1px rgba(255, 255, 255, 0.125);
            border-left: 0;
            border-right: 0;
        }

            .mytable tbody tr:nth-child(2n + 1) {
                background-color: rgba(255, 255, 255, 0.025);
            }

        .mytable td {
            padding: 0.75em 0.75em;
        }

        .mytable th {
            color: #ffffff;
            font-size: 0.9em;
            font-weight: 600;
            padding: 0 0.75em 0.75em 0.75em;
            text-align: left;
        }

        .mytable thead {
            border-bottom: solid 2px rgba(255, 255, 255, 0.125);
        }

        .mytable tfoot {
            border-top: solid 2px rgba(255, 255, 255, 0.125);
        }

        .mytable.alt {
            border-collapse: separate;
        }

            .mytable.alt tbody tr td {
                border: solid 1px rgba(255, 255, 255, 0.125);
                border-left-width: 0;
                border-top-width: 0;
            }

                .mytable.alt tbody tr td:first-child {
                    border-left-width: 1px;
                }

            .mytable.alt tbody tr:first-child td {
                border-top-width: 1px;
            }

            .mytable.alt thead {
                border-bottom: 0;
            }

            .mytable.alt tfoot {
                border-top: 0;
            }
