<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="static/bootstrap/css/bootstrap-theme.min.css">
        <script src="static/jquery-1.12.2.min.js"></script>
            <!-- Latest compiled and minified JavaScript -->
        <script src="static/bootstrap/js/bootstrap.min.js"></script>
        <link href="static/index.css" rel="stylesheet">
        <link href="static/login.css" rel="stylesheet">
		<link rel="stylesheet" href="static/assets/css/main.css" />
    </head>
	<body style="padding: 100px;">
		{% include 'navbar.html' %}

		<form class="form-signin" action='login.html' method='POST'>
			<h2 class="form-signin-heading">Please Login in</h2>
			<label for="account" class="sr-only">Account</label>
			<input type="text" name='account' id='account' class="form-control" placeholder="Account" required autofocus>
			<label for="pw" class="sr-only">Password</label>
			<input type="password" name='pw' id='pw' class="form-control" placeholder="Password" required>
			<button class="btn-block" type="submit">Login in</button>
			{% if acc_err %}
				<center><p style="color:red;">帳號錯誤，只限英文或數字，至少4個字<p></center>
			{% endif %}
      		{% if pwd_err %}
				<center><p style="color:red;">密碼錯誤，只限英文或數字，至少4個字<p></center>
			{% endif %}
			{% if Error %}
				<center><p style="color:red;">帳號或密碼錯誤<p></center>
			{% endif %}
			{% if show %}
				<center><p style="color:red;">請先登入<p></center>
			{% endif %}
			<a href="register.html" class="btn btn-block">註冊新帳號</a>
		</form>

		            <!-- Scripts -->
        <script src="static/assets/js/skel.min.js"></script>
        <script src="static/assets/js/jquery.min.js"></script>
        <script src="static/assets/js/jquery.scrollex.min.js"></script>
        <script src="static/assets/js/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="static/assets/js/main.js"></script>
    </body>
</html>
